[Unit]
Description=Announce app_1
BindsTo=app.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/app/app_1 '{ \"host\": \"%H\", \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/app/app_1

[X-Fleet]
X-ConditionMachineOf=app.1.service
