[Unit]
Description=Announce front_1
BindsTo=front.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/front/front_1 '{ \"host\": \"%H\", \"port\": 82, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/front/front_1

[X-Fleet]
X-ConditionMachineOf=front.1.service
